.container{
    height: 1500px;
    width: 1200px;
}
.top-box{
    position: absolute;
    height: 200px;
    width: 900px;
    left: 0px;
    top: 0px;
    text-align: center;

}
.left-box{
   position: absolute;
   width: 100px;
   height: 700px;
   top: 212px 
}
.center-box{
    position: absolute;
    height: 696px;
    width: 680px;
    top: 212px;
    left: 116px;
    z-index: 0;
}
.canvas-box{
    position: absolute;
    height: 696px;
    width: 680px;
    top: 212px;
    left: 116px;
    z-index: 90;
}
.right-box{
    position: absolute;
    width: 300px;
    height: 700px;
    left: 804px;
    top: 212px
}
.bottom-box{
    position: absolute;
    height: 200px;
    width: 1400px;
    top: 908px;
    left: 0px;
}

.player-1-dugout{
    position: absolute;
    height: 80px;
    width: 680px;
    bottom: 0px;
    left: 316px;
}

.player-2-dugout{
    position: absolute;
    height: 80px;
    width: 680px;
    top: 0px;
    left: 316px;
}

table{
    position: absolute;
    table-layout: fixed;
}

.play-option-box{
    position: relative;
    height: 80px;
    width: 120px;
    top: 90px;
    left: 130px;
    background-color: bisque;
}

.terrain{
    position: absolute;
    left: 2px;
    top: 2px;
    z-index: 0;
}